* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.brightmode {
  --foreground: #1a1a1a;
  --background: #FFFFFF;
  --black: #000000;
  --grey: #5e5e5e;
  --lightgray: #D3D3D3;
  --beige: #F5F5DC;
}

.darkmode {
  --foreground: #FFFFFF;
  --background: #1a1a1a;
  --black: #000000;
  --gray: #808080;
  --lightgray: #D3D3D3;
  --beige: #F5F5DC;
}

main {
  padding: 0 8%;
  background-color: var(--background);
  color: var(--foreground);
  padding-top: 0.1rem;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 8%;
  background-color: var(--background);
  color: var(--foreground);
}

.navitemswrap {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: var(--background);
  color: var(--foreground);
}

header .reacticons {
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
  background-color: var(--background);
  color: var(--foreground);
}

.navbar-icons {
  margin-left: 2rem;
  background-color: var(--background);
  color: var(--foreground);
}

.navbtn {
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  visibility: hidden;
  display: none;
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
}

.navlogo {
  visibility: hidden;
  display: none;
}

.navwrap {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  color: var(--foreground);
}

.navbar-icons {
  text-decoration: none;
  color: var(--Black);
}

.navbar-icons:hover {
  color: var(--Grey);
}

.songs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.songlinks {
  text-decoration: none;
  text-transform: capitalize;
  width: 17rem;
  height: auto;
  background-color: var(--background);
  color: var(--foreground);
}

.songtitle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.songimg {
  width: 6rem;
  height: 4rem;
  object-fit: cover;
}

.homeheads {
  margin-bottom: 0.6rem;
}

.searchinput {
  display: none;
  visibility: hidden;
  transition: all 0.5s;
  width: 80%;
  margin: 0 auto;
  padding: 0.3rem;
  font-size: 1rem;
  outline: none;
  margin-bottom: 0.1rem;
  border-radius: 20px;
  -webkit-box-shadow: 4px 5px 15px -2px rgba(5, 5, 5, 0.75);
  -moz-box-shadow: 4px 5px 15px -2px rgba(5, 5, 5, 0.75);
  box-shadow: 4px 5px 15px -2px rgba(5, 5, 5, 0.75);
}

.searchinput:focus {
  background-color: #e6e6e6;
  color: rgb(49, 49, 49);
  border: 2px solid rgb(94, 94, 94);
}

.footer {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.9rem 0rem;
}

.servicewraper {
  padding: 0 10%;
  background-color: var(--background);
  color: var(--foreground);
}

.footerlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.footerlinks {
  color: var(--background);
  text-decoration: none;
  font-weight: 550;
}

.searchkeywords {
  display: none;
  visibility: hidden;
  transition: all 0.5s;
  padding: 0 10% 0.3rem 10%;
  background-color: #e2e2e2;
  background-color: var(--background);
  color: var(--foreground);
  -webkit-box-shadow: 3px 3px 11px -5px rgba(5, 5, 5, 0.75);
  -moz-box-shadow: 3px 3px 11px -5px rgba(5, 5, 5, 0.75);
  box-shadow: 3px 3px 11px -5px rgba(5, 5, 5, 0.75);
}

.singlealbum {
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.3s;
  text-decoration: none;
  background-color: var(--background);
  color: var(--foreground);
  border-bottom: 1px rgb(226, 226, 226) solid;
}

.singlealbum:hover {
  border-radius: 8px;
  background-color: var(--foreground);
  color: var(--background);
  transition: all 0.3s;
  border-left: 15px solid grey;
}

.search {
  background-color: var(--background);
  color: var(--foreground);
  padding-bottom: 0.3rem;
}

.searchclass {
  display: flex;
  flex-direction: column;
  visibility: visible;
  transition: all 0.5s;
}

.homemain {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.homewraper {
  width: 53rem;
}

.servlists {
  padding-left: 1.4rem;
}

.service {
  line-height: 1.3rem;
  word-spacing: 0.2rem;
  font-size: 1.2rem;
}

.servhead {
  margin-bottom: 0.4rem;
  line-height: 1.8rem;
}

.weof {
  margin-top: 0.4rem;
}

.liheads {
  margin: 0.4rem 0rem;
}

.ouexhe {
  margin: 0.6rem 0rem;
}

.letssthead {
  margin: 0.6rem 0rem;
}

.swcodiv {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.singlesong {
  display: flex;
  flex-direction: row;
  padding: 0 8%;
  gap: 1rem;
  background-color: var(--background);
  color: var(--foreground);
}

.singmainwrap {
  width: 170rem;
}

.singleidimg {
  width: 12rem;
  height: 8rem;
  object-fit: contain;
}

.titledivwrap {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0rem;
}

.credits {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.singlehead {
  text-transform: capitalize;
  font-size: 0.8rem;
  line-height: 1.6rem;
}

table,
tr,
td {
  border: 1px solid var(--foreground);
  border-collapse: collapse;
}

td {
  padding: 0.6rem;
}

table {
  margin-bottom: 0.9rem;
}

.paras {
  font-size: 1.3rem;
  margin-left: 1rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.05rem;
  font-weight: 550;
}

.para1,
.para2,
.para3,
.para4,
.para5 {
  margin-bottom: 1rem;
}

.sesontl {
  margin-bottom: 1rem;
}

.terms {
  padding: 0 10%;
  background-color: var(--background);
  color: var(--foreground);
}

.terms h2 {
  font-size: 1.5rem;
  padding: 0.5rem 0rem;
}

.terms h3 {
  font-size: 1.3rem;
  padding: 0.5rem 0rem;
}

.terms p {
  padding: 0.3rem 0rem;
}

.policy {
  padding: 0 10%;
  background-color: var(--background);
  color: var(--foreground);
}

.policy h2 {
  font-size: 1.5rem;
  padding: 0.5rem 0rem;
}

.policy h3 {
  font-size: 1.3rem;
  padding: 0.5rem 0rem;
}

.policy p {
  padding: 0.3rem 0rem;
}

@media (max-width: 768px) {

  /* CSS styles for mobile devices */
  .homewraper {
    width: 100%;
  }

  .terms {
    padding: 0 1.5rem;
  }

  .policy {
    padding: 0 1.5rem;
  }

  .paras {
    font-size: 1.1rem;
  }

  .servicewraper {
    padding: 0 1rem;
  }

  .singleimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7rem;
  }

  .singleidimg {
    width: 18rem;
    height: 15rem;
    object-fit: contain;
  }

  .singlehead {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .titledivwrap {
    flex-direction: column;
  }

  .singmainwrap {
    width: 100%;
  }

  .singlesong {
    flex-direction: column;
    padding: 0 1rem;
  }

  .ouexhe {
    margin: 0.5rem 0rem;
  }

  .letssthead {
    margin: 0.5rem 0rem;
  }

  .liheads {
    margin: 0.3rem 0rem;
  }

  .service {
    font-size: 1.1rem;
  }

  .adsection {
    display: none;
  }

  .homemain {
    flex-direction: column;
  }

  .songimg {
    width: 7rem;
    height: 5rem;
  }

  .songlinks {
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    font-size: 1.2rem;
  }

  body {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  main {
    padding: 0rem 1rem;
    padding-top: 0.1rem;
  }

  header {
    height: 3rem;
    font-size: 1rem;
    padding: 1rem;
  }

  .navitemswrap {
    gap: 1rem;
  }

  .reacticons {
    font-size: 1rem;
  }

  .navbar-icons {
    margin-left: 1rem;
  }

  .navbtn {
    visibility: visible;
    display: block;
  }

  .servicelink {
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    transition: all 0.6s;
  }

  .responsivenav {
    top: 0vh;
    transition: all 0.6s;
  }

  .navclosebtn {
    position: absolute;
    top: 2rem;
    right: 3rem;
  }

  .navlogo {
    display: block;
    visibility: visible;
    position: absolute;
    top: 2rem;
  }

  .navwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar-icons {
    font-size: 1.5rem;
  }

  .icondivs {
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
    width: 10rem;
    padding-bottom: 0.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS styles for tablet devices */
  body {
    width: 92%;
    height: auto;
    margin: 0 auto;
  }

  header {
    height: 3.5rem;
  }

  .navitemswrap {
    gap: 1.5rem;
  }

  .navbar-icons {
    margin-left: 1.rem;
  }

  .adsection {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* CSS styles for desktop devices */
}